@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

.pane {
    -fx-background-color: #F6FAFD;
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
}

.nav-item {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-weight: 700;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 13;
}

.nav-item:hover {
    -fx-background-color: #25C0FF;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
}

.nav-item-selected {
    -fx-background-color: #25C0FF;
    -fx-text-fill: #FFFFFF;
}

#btnDashboard:hover {
    -fx-graphic: url("../img/s_dashboard.png");
}

#btnCustomers:hover {
    -fx-graphic: url("../img/s_customers.png");
}

#btnItems:hover {
    -fx-graphic: url("../img/s_items.png");
}

#btnOrders:hover {
    -fx-graphic: url("../img/s_orders.png");
}

#btnPlaceOrders:hover {
    -fx-graphic: url("../img/s_place_orders.png");
}

#btnSettings:hover {
    -fx-graphic: url("../img/s_settings.png");
}

#btnMinimize:hover {
    -fx-graphic: url("../img/s_minimize.png");
}

#btnExit:hover {
    -fx-graphic: url("../img/s_exit.png");
}

.nav-item-unselected {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #9CA6B0;
}

.table-view .column-header {
    -fx-background-color: #1C2D58;
}

.table-view .column-header .label {
    -fx-text-fill: #FFFFFF;
}

.table-view .table-cell {
    -fx-border-color: transparent;
}

.table-row-cell:odd {
    -fx-background-color: #FFFFFF;
}

.table-row-cell:even {
    -fx-background-color: #F9FAFC;
}

.table-row-cell:focused {
    -fx-background-color: #25C0FF;
}

#colOption .table-cell {
    -fx-padding: 0 0 40 0;
}


.txt-field {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-background-color: #d7dadb;
    -fx-text-fill: #1C2D58;
    -fx-padding: 0 30 0 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 0,0,0,2);
    -fx-background-radius: 10;
    -fx-font-weight: 400;
    -fx-prompt-text-fill: #1C2D58;
    -fx-border-radius: 10;
}

.text-field:focused {
    -fx-border-width: 2;
    -fx-border-color: #1C2D58;
    -fx-prompt-text-fill: #1C2D58;
}

.btn {
    -fx-background-color: #25C0FF;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 0,0,0,2);
    -fx-background-radius: 10;
    -fx-padding: 0 15 0 15;
    -fx-font-weight: 700;
}

.btn:hover {
    -fx-background-color: #1f1e37;
    -fx-cursor: hand;
}