@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto:wght@400;700;900&display=swap');

.pane {
    -fx-background-color: #F6FAFD;
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
}

.nav-item {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-weight: 700;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 13;
}

.nav-item:hover {
    -fx-background-color: #25C0FF;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
}

.nav-item-selected {
    -fx-background-color: #25C0FF;
    -fx-text-fill: #FFFFFF;
}

#btnDashboard:hover {
    -fx-graphic: url("../img/s_dashboard.png");
}

#btnCustomers:hover {
    -fx-graphic: url("../img/s_customers.png");
}

#btnItems:hover {
    -fx-graphic: url("../img/s_items.png");
}

#btnOrders:hover {
    -fx-graphic: url("../img/s_orders.png");
}

#btnPlaceOrders:hover {
    -fx-graphic: url("../img/s_place_orders.png");
}

#btnSettings:hover {
    -fx-graphic: url("../img/s_settings.png");
}

#btnMinimize:hover {
    -fx-graphic: url("../img/s_minimize.png");
}

#btnExit:hover {
    -fx-graphic: url("../img/s_exit.png");
}

.nav-item-unselected {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #9CA6B0;
}

.roboto-text {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-weight: 700;
}

.profile-header {
    -fx-font-size: 14;
    -fx-text-fill: #1C2D58;
}

.profile-name {
    -fx-font-size: 14;
    -fx-text-fill: #FFFFFF;
}

.profile-role {
    -fx-font-size: 6;
    -fx-text-fill: #9CA6B0;
}

.moderator {
    -fx-font-size: 6;
}

.clock-text {
    -fx-font-family: 'Orbitron', sans-serif;
    -fx-font-weight: 700;
    -fx-text-fill: #FFFFFF;
}

.time {
    -fx-font-size: 44;
}

.am-pm {
    -fx-font-size: 25;
}

.date {
    -fx-font-size: 16;
}